*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s; 
            animation: fadein 1s; */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


html {
    font-size: 62.5%;
    background-color: rgb(247, 247, 247);
}

body {
    font-family: 'Jura', sans-serif;
    /* font-size: 40; */
    text-align: center;
    /* color: blue; */
}

/* h1, h2, h3 {
    
} */

.photo {
    border-radius: 40px;
    margin: 1rem;

    -webkit-animation: movedown 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: movedown 7s; /* Firefox < 16 */
        -ms-animation: movedown 7s; /* Internet Explorer */
         -o-animation: movedown 7s; /* Opera < 12.1 */
            animation: movedown 7s;
}

@keyframes movedown {
    from { top: -300px; }
    to { top: -100px; }
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 55;
    color: rgb(19, 19, 19);
    margin: 0.7rem;
}

h2 {
    font-size: 35;
    color: rgb(68, 68, 68);
    margin: 0.5rem;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

h3 {
    font-size: 28;
    color: rgb(87, 87, 87);
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}